.landing {
	/*background: url(../img/landing.jpg) no-repeat center center;*/
	background-size: cover; 
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p, div, span {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #333;
}

.landing h1 {
	font-size: 3em;
}

.landing p {
	font-size: 1.5em;
}

.nav li a {
	color: #000;
}

.footer-nav h2 {
	color: #fff;
	padding: 1vh 0 1vh 5%;
	text-align: left;
}

footer p {
	padding: 0;
}

.prev-price {
	text-decoration: line-through;
	color: #ccc;
}

a:active, a:hover {
	color: #000;
}
/* nav */

.icon-bar {
	background: #333;
}

.navbar-brand {
	color: #000;
}

/* grid */

.col-sm-4 {
	padding: 5vh 0; 
}

.container {
	padding: 7.5vh 0;
}

img, #item-img {
	width: 270px;
	height: 250px;
	display: block;
	margin: 0 auto;
}

#btn {
	background: #000;
	color: #fff;
	padding: 1vh 28.7%;
}

/* hover */

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.best-deals img {
	display: block;
	position: relative;
	text-align: center;
	cursor: default;
	opacity: 1;
}

.overlay {
	width: 100%;
	height: 100%;
	position:absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color:rgba(255,255,255,.7);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hovereffect a {
	color: #000;
	padding: 0.5vh 13px;
	background-color: transparent;
	opacity: 0;
	transition:all .2s ease-in-out;
}

.hovereffect:hover .overlay {
	opacity:1 ;
}

.hovereffect:hover a {
	opacity:1;
}

#view_item {
	border: 1px solid #000;
	box-shadow: 0 0 1px #000;
}

/* map */

#map {
	width: 100%;
	height: 300px;
	border: 3px solid #000;
}

.centered {
	display: block;
	margin: 0 auto;
}